
<%= render 'sidebar', book: @book, user: @user %>

<h2>Books</h2>
<table>
 <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Caption</th>
      <th colspan="3"></th>
  </thead>
<tbody>
  <td></td>
  <% @books.each do |book| %>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <% end %>
</tbody>
</table>
</main>