<% if @book_new.errors.any? %>
  <%= @book_new.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>