<main>
<h1>Welcome to<strong><i class="fas fa-book"></i>Bookers</strong>!!</h1>
<p>In<i class="fas fa-book"></i><strong>Bookers</strong>,</p>
<p>you can share and exchange  your opinions , inpressions , and emotions</p>
<p> about various books!</p>
<p><a href ='/users/sign_in'>Log in</a></p>
<p><a href ='/users/sign_up'>Sign up</a></p>

</main>