* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Bookers a , li {
  text-decoration: none;
}
.bg-dark {
    background-color: #343a40 !important;
}

.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

/*フッター*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}